*
!.git*
!.git*/**
!.travis.yml
!gh_rsa.enc
!appveyor.yml
!LICENSE
!build.rs
!Cargo.toml
!rustfmt.toml
!.clang-format
!*Makefile
!*.sublime-project
!*.md
!*.rc
!man
!man/**
!ext
!ext/**
!src
!src/**
!tests
!tests/**
!assets
!assets/**
!include
!include/**
!examples
!examples/**
!test-data
!test-data/**
!handler-examples
!handler-examples/**
