*
!.git*
!.git*/**
!.travis.yml
!gh_rsa.enc
!appveyor.yml
!LICENSE
!Cargo.toml
!rustfmt.toml
!*.sublime-project
!*.md
!man
!man/**
!ext
!ext/**
!src
!src/**
!tests
!tests/**
!assets
!assets/**
!test-data
!test-data/**
!examples
!examples/**
